
    <!DOCTYPE html>
    <html xp-run-server-url="https://xpla.org">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Start</title>
        <script src="https://xpla.org/static/js/slide_loader.3.0.0.js"></script>
      </head>
      <body class="xp-slide">
        <div class="xp-row with-comments">
          <div class="xp-column">
            <xp-editor active="config.js" >
              	<script id="config.js" type="application/octetstream" src="001/config.js"></script>
	<script id="css/styles.css" type="application/octetstream" src="001/css/styles.css"></script>
	<script id="data/tasks.json" type="application/octetstream" src="001/data/tasks.json"></script>
	<script id="index.html" type="application/octetstream" src="001/index.html"></script>
	<script id="index.js" highlight="1-6" type="application/octetstream" src="001/index.js"></script>
	<script id="index.test.html" type="application/octetstream" src="001/index.test.html"></script>
	<script id="package.json" highlight="1-21" type="application/octetstream" src="001/package.json"></script>
	<script id="src/components/Task/Task.css" type="application/octetstream" src="001/src/components/Task/Task.css"></script>
	<script id="src/components/Task/Task.js" type="application/octetstream" src="001/src/components/Task/Task.js"></script>
	<script id="src/components/Task/Task.spec.js" type="application/octetstream" src="001/src/components/Task/Task.spec.js"></script>
	<script id="src/components/Tasks.js" type="application/octetstream" src="001/src/components/Tasks.js"></script>
	<script id="src/main.js" highlight="1-30" type="application/octetstream" src="001/src/main.js"></script>
	<script id="src/models/Tasks.js" type="application/octetstream" src="001/src/models/Tasks.js"></script>
	<script id="webpack.config.js" highlight="1-29" type="application/octetstream" src="001/webpack.config.js"></script>
            </xp-editor>
          </div>
          <div class="xp-resize-column"></div>
          <div class="xp-column">
            <xp-preview runner="html-babel"></xp-preview>
          </div>
        </div>
        <div class="xp-resize-row"></div>
        <div class="xp-row comments">
          <xp-annotations>
            <header><h1>Apka z zadaniami</h1></header>
            <details>
  <p>Rozpoczynamy od aplikacji do zarządzania zadaniami.</p>
  <p>Dołożyliśmy prostą konfigurację webpacka.</p>
</details>


          </xp-annotations>
        </div>
      </body>
    </html>
  