
    <!DOCTYPE html>
    <html xp-run-server-url="https://xpla.org">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>React Component</title>
        <script src="https://xpla.org/static/js/slide_loader.3.0.0.js"></script>
      </head>
      <body class="xp-slide">
        <div class="xp-row with-comments">
          <div class="xp-column">
            <xp-editor active="config.js" >
              	<script id="config.js" highlight="9-17" type="application/octetstream" src="004/config.js"></script>
	<script id="index.html" highlight="7-14" type="application/octetstream" src="004/index.html"></script>
	<script id="index.js" highlight="1-4" type="application/octetstream" src="004/index.js"></script>
	<script id="package.json" highlight="17-26" type="application/octetstream" src="004/package.json"></script>
	<script id="src/main.jsx" highlight="1-38" type="application/octetstream" src="004/src/main.jsx"></script>
	<script id="webpack.config.js" highlight="1-14" type="application/octetstream" src="004/webpack.config.js"></script>
	<script id="css/styles.css" type="application/octetstream" src="001/css/styles.css"></script>
	<script id="data/tasks.json" type="application/octetstream" src="001/data/tasks.json"></script>
            </xp-editor>
          </div>
          <div class="xp-resize-column"></div>
          <div class="xp-column">
            <xp-preview runner="html-jsx"></xp-preview>
          </div>
        </div>
        <div class="xp-resize-row"></div>
        <div class="xp-row comments">
          <xp-annotations>
            <header><h1>Minimalny komponent w React</h1></header>
            <details>
  <p>A jak to wygląda w React?</p>
</details>


          </xp-annotations>
        </div>
      </body>
    </html>
  