
    <!DOCTYPE html>
    <html xp-run-server-url="https://xpla.org">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Angular 1.5</title>
        <script src="https://xpla.org/static/js/slide_loader.3.0.0.js"></script>
      </head>
      <body class="xp-slide">
        <div class="xp-row with-comments">
          <div class="xp-column" style="width: 65%">
            <xp-editor active="config.js" tree>
              	<script id="config.js" highlight="9-19" type="application/octetstream" src="007/config.js"></script>
	<script id="index.html" highlight="8-14" type="application/octetstream" src="007/index.html"></script>
	<script id="index.js" highlight="1-3" type="application/octetstream" src="007/index.js"></script>
	<script id="index.test.html" highlight="1-27" type="application/octetstream" src="007/index.test.html"></script>
	<script id="index.test.js" highlight="1-2" type="application/octetstream" src="007/index.test.js"></script>
	<script id="src/components/AddTask/AddTask.js" highlight="1-38" type="application/octetstream" src="007/src/components/AddTask/AddTask.js"></script>
	<script id="src/components/Task/Task.js" highlight="1-37" type="application/octetstream" src="007/src/components/Task/Task.js"></script>
	<script id="src/components/Task/Task.spec.js" highlight="1-42" type="application/octetstream" src="007/src/components/Task/Task.spec.js"></script>
	<script id="src/components/Tasks.js" highlight="1-41" type="application/octetstream" src="007/src/components/Tasks.js"></script>
	<script id="src/main.js" highlight="1-86" type="application/octetstream" src="007/src/main.js"></script>
	<script id="src/module.js" highlight="1-4" type="application/octetstream" src="007/src/module.js"></script>
	<script id="webpack.config.js" highlight="2-9" type="application/octetstream" src="007/webpack.config.js"></script>
	<script id="package.json" type="application/octetstream" src="005/package.json"></script>
	<script id="css/styles.css" type="application/octetstream" src="001/css/styles.css"></script>
	<script id="data/tasks.json" type="application/octetstream" src="006/data/tasks.json"></script>
	<script id="src/components/AddTask/AddTask.css" type="application/octetstream" src="006/src/components/AddTask/AddTask.css"></script>
	<script id="src/components/Task/Task.css" type="application/octetstream" src="006/src/components/Task/Task.css"></script>
	<script id="src/models/Tasks.js" type="application/octetstream" src="006/src/models/Tasks.js"></script>
            </xp-editor>
          </div>
          <div class="xp-resize-column"></div>
          <div class="xp-column" style="width: 35%">
            <xp-preview runner="html-babel"></xp-preview>
          </div>
        </div>
        <div class="xp-resize-row"></div>
        <div class="xp-row comments">
          <xp-annotations>
            <header><h1>Implementacja w Angular 1.5</h1></header>
            <details>
  <p>Implementacja w Angular 1.5</p>
</details>


          </xp-annotations>
        </div>
      </body>
    </html>
  