
    <!DOCTYPE html>
    <html xp-run-server-url="http://xpla.org">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Angular - Tasks</title>
        <script src="http://xpla.org/static/js/slide_loader.3.0.0.js"></script>
      </head>
      <body class="xp-slide">
        <div class="xp-row with-comments">
          <div class="xp-column" style="width: 65%">
            <xp-editor active="config.js" tree>
              	<script id="config.js" highlight="8-13" type="application/octetstream" src="009/config.js"></script>
	<script id="index.html" highlight="13-19" type="application/octetstream" src="009/index.html"></script>
	<script id="index.test.html" highlight="1-27" type="application/octetstream" src="009/index.test.html"></script>
	<script id="index.test.ts" highlight="1-4" type="application/octetstream" src="009/index.test.ts"></script>
	<script id="src/components/AddTask/AddTask.css" highlight="1-2" type="application/octetstream" src="009/src/components/AddTask/AddTask.css"></script>
	<script id="src/components/AddTask/AddTask.ts" highlight="1-43" type="application/octetstream" src="009/src/components/AddTask/AddTask.ts"></script>
	<script id="src/components/Task/Task.css" highlight="1-12" type="application/octetstream" src="009/src/components/Task/Task.css"></script>
	<script id="src/components/Task/Task.spec.ts" highlight="1-23" type="application/octetstream" src="009/src/components/Task/Task.spec.ts"></script>
	<script id="src/components/Task/Task.ts" highlight="1-36" type="application/octetstream" src="009/src/components/Task/Task.ts"></script>
	<script id="src/components/Tasks.ts" highlight="1-42" type="application/octetstream" src="009/src/components/Tasks.ts"></script>
	<script id="src/main.ts" highlight="1-89" type="application/octetstream" src="009/src/main.ts"></script>
	<script id="src/models/Tasks.ts" highlight="1-25" type="application/octetstream" src="009/src/models/Tasks.ts"></script>
	<script id="typings/jasmine.d.ts" type="application/octetstream" src="009/typings/jasmine.d.ts"></script>
	<script id="index.ts" type="application/octetstream" src="008/index.ts"></script>
	<script id="package.json" type="application/octetstream" src="008/package.json"></script>
	<script id="webpack.config.js" type="application/octetstream" src="008/webpack.config.js"></script>
	<script id="css/styles.css" type="application/octetstream" src="001/css/styles.css"></script>
	<script id="data/tasks.json" type="application/octetstream" src="006/data/tasks.json"></script>
            </xp-editor>
          </div>
          <div class="xp-resize-column"></div>
          <div class="xp-column" style="width: 35%">
            <xp-preview runner="html-ts"></xp-preview>
          </div>
        </div>
        <div class="xp-resize-row"></div>
        <div class="xp-row comments">
          <xp-annotations>
            <header><h1>Implementacja w Angular2</h1></header>
            <details>
  <p>Implementacja apki do zadań w Angular2 i TypeScript</p>
</details>


          </xp-annotations>
        </div>
      </body>
    </html>
  