
    <!DOCTYPE html>
    <html xp-run-server-url="https://xpla.org">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Deck</title>
        <link type="text/css" rel="stylesheet" media="all" href="https://xpla.org/static/css/deck.3.0.0.css" />
      </head>
      <body>

      <xp-deck back="../">
          <link async rel="import" href="001-Start.html" />
          <link async rel="import" href="002-Dodawanie_zadania.html" />
          <link async rel="import" href="003-Vanilla.js.html" />
          <link async rel="import" href="004-React_Component.html" />
          <link async rel="import" href="005-Angular_Component.html" />
          <link async rel="import" href="006-React_-_Tasks.html" />
          <link async rel="import" href="007-Angular_1.5.html" />
          <link async rel="import" href="008-Angular2_Component.html" />
          <link async rel="import" href="009-Angular_-_Tasks.html" />
        </xp-deck>

        <script async src="https://xpla.org/static/js/deck.3.0.0.js"></script>
      </body>
    </html>
  
